# Entorno virtual
venv/

# Base de datos
db.sqlite3

# Archivos compilados de Python
*.pyc
__pycache__/

# Migraciones
*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py
# Archivos de medios
media/

# IDEs / OS
*.swp
*.swo
*.DS_Store
.idea/
.vscode/

# Archivos temporales del sistema
*.log
*.pot
*.pyc
*.swp
*.swo
.DS_Store
Thumbs.db